@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #2c0c69;
}

::-webkit-scrollbar-thumb {
  background: white;
}

/* spinner classes*/
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  transition: all 1s ease-out;
}
.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(15px);
}

/* navbar classes */
.first-load{
	animation: first-load 2s;
}

/* home classes */
.remove{
	animation: scale-display--reversed 1.4s
}

.onLoad{
	animation: scale-display 1s
}

/* home h1 classes */
.letters{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.greeting-animation{
  animation: letters-animation 2s steps(60, end);
}
.name-animation{
  animation: letters-animation 2s steps(60, end);
}
.role-animation{
  animation: letters-animation 2.5s steps(60, end);
}

.home-buttons{
  width: 144px;
}

.box-animation{
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;

  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.box-animation::before{
  content: "";
  position: absolute;
  inset: -50px -50px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: all 0.5s;
  animation: rotating 4s linear infinite;
}
.box-animation::after{
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 9px;
  background-color: #160d45;
  z-index: 1;
}

.project-button::before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #ed05f9;
  z-index: -1;
}

.project-button:hover, .project-button:focus {
  color: white;
 }
 
 .project-button:hover:before, .project-button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
 }

@media (max-width: 331px) {
  .home-text{
    font-size: 20px;
  }
}
@media (max-width: 365px) {
  .home-buttons{
    max-width: 120px;
  }
}
@media (min-width: 332px) and (max-width:450px ) {
  .home-text{
    font-size: 24px;
  }
}

@media (min-width: 700px) {
  .box-animation{
    min-width: 170px;
    min-height: 200px;
    max-width: 450px;
    max-height: 400px;
  }
}

@media (min-width: 1024px){
  .box-animation{
    min-width: 350px;
    min-height: 300px;
    max-width: 500px;
    max-height: 550px;
  }
}

@media (min-width: 768px) {
  .greeting-animation{
    animation: letters-animation 4s steps(60, end);
  }
  .technology-shadow:hover:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #d400d4 0%, #00ccff 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(15px);
    opacity: 0.7;
    transition: all 0.3s;
    border-radius: inherit;
  }
  
  .technology-shadow:hover:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }
}

@media (min-width: 1024px) and (max-width: 1335px){
  .skills-container{
    width: 100%;
  }
}

@media (min-width: 1336px) and (max-width: 1432px){
  .skills-container{
    width: 85%;
  }
  .skills-image{
    width: 450px;
    height: 250px;
  }
}

@media (min-width: 1432px){
  .skills-container{
    width: 100%;
  }
}
